body {
    margin: 20px;
    font-family: Georgia
    
}

.avatar {
    width: 150px;
}

fieldset{
    font-family: Georgia;
    border: 12px solid transparent;
    margin: 0 auto;
    border-top-color: 126782; 
    box-sizing: border-box; 
    grid-area: 1 / 1; 
    padding: 20px; 
    width: 430px; 
    font-family: Georgia;
  }

.card {
    text-shadow: 4px 4px;
    text-shadow: 2px 2px #d5bdaf;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    border-color: #ddebf8;
    background: #ef7b45;
    color: #126782;
    
}

.border-blue {
    border: 1px dotted blue;
}

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    color: #fff;
    box-shadow: inset 220px 0 0 0 #54b3d6;;
  }