body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    color: #333;
}

#myWatchlist, #topText a, h1 {
    color: #4CAF50;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

.search {
    text-align: center;
    margin-bottom: 30px;
}

#search-field {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increase font size */
}

#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #45a049;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-wrapper {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.movie {
    text-align: left;
}

.add-to-watchlist-button, .watchlist-button, .remove-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.add-to-watchlist-button:hover, .watchlist-button:hover, .remove-button:hover {
    background-color: #45a049;
}

#notification-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.toast i {
    margin-right: 10px;
}

.toast span {
    font-weight: bold;
}
