/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    padding: 0;
    width: 720px;
    height: 100vh;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* HERO SECTION */

.hero {
    background-image: url("/Solo Projects/Hometown Homepage/images/Veles-glavna.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
    padding: 16px;
    text-shadow: 1px 1px 1px black;
}

.town-title {
    background: #293131;
    color: #ffffff;
    padding: 4px 12px 4px 12px;
    border: 1px solid #AA727A;
    border-radius: 10px;
    margin-bottom: 0;
}

.town-desc {
    background: #2C4932;
    color: #ffffff;
    padding: 4px 15px 4px 15px;
    border: 1px solid #AA727A;
    border-radius: 10px;
    margin-top: 15px;
    max-width: 400px;
}

/* ACTIVITIES SECTION */

#Activities {
    background-color: #F1FAEE;
    display: flex;
    flex-direction: row;
    width: 720px;
    height: 400px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img-collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
.img-select {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.img-select:hover {
    transform: scale(1.4);
    transition: transform 350ms, border 100ms;    
}


/* GUIDE SECTION */

.card {

    width: 400px;
    box-shadow: 0px 10px 0px #1D3557;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 10px;
            font-family: Arial;
            font-weight: 700;
    display: flex;
    justify-content: space-around;
    color: #2b2839;
    background: #A8DADC;
    color: #126782;
    margin-top: 170px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: none;
}

.avatar {
    width: 150px;
    width: 180px;
    left: 173px;
    top: 73px;
    border-radius: 10px;
}

.guide {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1D3557;
}

.footer-middle {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.guide-name {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #1D3557;
}

.p {
    overflow-wrap: anywhere;
}