html, body {
    width: 395px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #C6C6C6;
}

.post-container, .container {
    background-color: white;
    padding-right: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
}

.likes, .username, .comment {
    margin-left: 10px;
}

.logo {
    width: 150px;
    margin-left: 10px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 15px 0;
}

.post-avatar {
    margin-left: 10px;
}

.post-avatar {
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.location {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 65px;
    margin-bottom: 1px;
    margin-top: -7px;
}

.name {
    margin-left: 65px;
    margin-top: -45px;
}

.post-image {
    width: 395px;
}

.username, .likes  {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.post-info .name {
    color: #000;
    font-family: 'Source Sans Pro';
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
}

.comment {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
}

.image-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: start;
   margin-left: 10px;
   margin-right: 10px;
}

.like, .comment-icon, .share {
    height: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

.comment {
    margin-right: 10px;
  }


.comment-icon:hover {
    background-image: url("/images/comment-hover.png");
}

.share:hover {
    background-image: url("/images/share-hover.png");
}